{% extends '::frontend.html.twig' %}

{% block contenido %}
<!-- ######################## Header ######################## -->
        
        <header>
              <h1 class="welcome_text">{{ "miembros" | trans }}</h1>    
        </header>
        

<!-- ######################## Section ######################## -->

   <section class="section_normal">
      {% for ocupacion in ocupaciones %}
            <div class="row">
                {% for ocupacion2 in ocupaciones2 %}
                    {% if ocupacion.id==ocupacion2.id%} 
                        <h3>{{ocupacion2.descripcion}}</h3>
                    {% endif %}
                {% endfor %}
          
          
                <div id="container">
                    {% for entity in entities %}

                        {% if entity.ocupacion==ocupacion.id%}
                   

                            <!-- member box -->
                            <div class='box photo col2'>
                                <a href="{{ entity.link_Pagina }}">
                                    {% if entity.fotoURL %} 
                                        <img src="{{ asset('uploads/images/miembros/' ~ entity.fotoURL) }}"/>
                                    {% else %}   
                                        <img src="{{ asset('uploads/images/miembros/unknown-person.gif') }}" height="190px" width="190px"/>
                                    {% endif %}
                                </a>
                                <p style='text-align:center'>
                                    {{ entity.nombre }} <br> {{ entity.apellidoP }} {{ entity.apellidoM }}
                                </p>
                                
                                
                            </div> 
                        {% endif %}
                    
                    {% endfor %}

                   
                </div>
               
            <!-- end Masonry container -->
            </div>
        {% endfor %}
      
        
    </section>



    <!-- Masonry for galleries -->
        <script src="'@PortadaBundle/Resources/public/js/masonry.js'" type="text/javascript"/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">
        </script>
        <script type="text/javascript">
//<![CDATA[
      jQuery.noConflict()(function($){  
        var $container = $('#container');
        $container.imagesLoaded( function(){
          $container.masonry({
            itemSelector : '.box',
                        isFitWidth: true,
                        isAnimated: true
          });
        });
      });
  //]]>
  </script>
        <!-- END Masonry -->
    {% endblock %}
