{% extends '::backend.html.twig' %}

{% block contenido -%}
		<div class="row-fluid">
            <div class="navbar">
                <div class="navbar-inner">
                    <ul class="breadcrumb">
                        <i class="icon-chevron-left hide-sidebar"><a href='#' title="Hide Sidebar" rel='tooltip'>&nbsp;</a></i>
                        <i class="icon-chevron-right show-sidebar" style="display:none;"><a href='#' title="Show Sidebar" rel='tooltip'>&nbsp;</a></i>
                        <li>
                            <a href="{{path('backend')}}">Dashboard</a> <span class="divider">/</span>  
                        </li>
                        <li>
                            <a href="{{path('miembro_backend')}}">Miembros</a> <span class="divider">/</span>  
                        </li>
                        <li class="active">Nuevo</li>
                    </ul>
                </div>
            </div>
            <!-- block -->
            
			   
			   <fieldset>
                    <legend><h1>Nuevo Miembro</h1></legend>
                    {{ form_start(form, { 'action': path('miembro_new'), 'method': 'POST' }) }} 
                        {{ form_label(form.nombre, 'Nombre') }}
                        {{ form_widget(form.nombre) }}
                        {{ form_label(form.apellidoP, 'Apellido Paterno') }}
                        {{ form_widget(form.apellidoP) }}
                        {{ form_label(form.apellidoM, 'Apellido Materno') }}
                        {{ form_widget(form.apellidoM) }}
                        {{ form_label(form.status, 'Estado') }}
                        {{ form_widget(form.status) }}
                        {{ form_label(form.link_Pagina, 'Pagina personal') }}
                        {{ form_widget(form.link_Pagina) }}
                        {{ form_label(form.foto, 'Foto') }}
                        {{ form_widget(form.foto) }}
                        {{ form_errors(form.foto) }}
                        {{ form_label(form.alum_Descripcion, 'Descripcion del Alumno') }}
                        {{ form_widget(form.alum_Descripcion) }}
                        {{ form_label(form.idOcupacion, 'Tipo de miembro') }}
                        {{ form_widget(form.idOcupacion) }}
                        <br>
                        <input type="submit" value="Save" >
                         <br>
                    {{ form_end(form) }}
                </fieldset>

			    <ul class="record_actions">
			    	<li>
			        	<a href="{{ path('miembro_backend') }}">Back to the list</a>
			    	</li>
				</ul>
			
		</div>		
{% endblock %}
