{% extends '::backend.html.twig' %}

{% block contenido -%}

    <div class="row-fluid">
            <div class="navbar">
                <div class="navbar-inner">
                    <ul class="breadcrumb">
                        <i class="icon-chevron-left hide-sidebar"><a href='#' title="Hide Sidebar" rel='tooltip'>&nbsp;</a></i>
                        <i class="icon-chevron-right show-sidebar" style="display:none;"><a href='#' title="Show Sidebar" rel='tooltip'>&nbsp;</a></i>
                        <li>
                            <a href="{{path('backend')}}">Dashboard</a> <span class="divider">/</span>  
                        </li>
                        <li class="active">Miembros</li>
                    </ul>
                </div>
            </div>
            <!-- block -->
            <div class="block">        
                <div class="block-content collapse in">
                    <div class="span12">
                        <!--<h1>Miembro</h1>-->
                        <h1><small>{{ entity.nombre }} {{ entity.apellidoP }} {{ entity.apellidoM }}</small></h1>
                        <div class="large-3 columns">
                            {% if entity.fotoURL %} 
                                <img src="{{ asset('bundles/portada/img/fotosAlumnos/' ~ entity.fotoURL) }}" alt=""  />
                            {% else %}   
                                 <img src="{{ asset('bundles/portada/img/fotosAlumnos/unknown-person.gif') }}" alt=""  />
                            {% endif %}
                        </div>  
                    </div>   
                    <div class="span12">
                        <div class="large-12 columns">   
                        
                            <dl>
                                <dt>Ocupación</dt>
                                <dd>{{ entity.idOcupacion }}</dd>
                                <dt>Estado</dt>
                                <dd>{% if entity.status==1 %}
                                        Activo
                                    {% else %}
                                            Fuera
                                    {% endif %}</dd>
                                <dt>Pagina personal</dt>
                                <dd><a href="">{{ entity.linkPagina }}</a></dd>
                            </dl>
                                       <br>
                        </div> 
                    </div> 
                                   
                    <div class="span12">
                        <div class="large-12 columns">
                            <div class="large-8 columns">
                                <h3>Descripción</h3>

                                {{ entity.alumDescripcion }}

                            </div>        
                         </div>     
                     </div>      
                </div>
            </div>
            <!-- /block -->
        </div>
            

{% endblock %}
