{% extends '::frontend.html.twig' %}

{% block contenido %}
<!-- ######################## Header ######################## -->
        
        <header>
              <h1 class="welcome_text">{{ 'recursos' | trans }}</h1>    
        </header>
        

<!-- ######################## Section ######################## -->

   <section class="section_normal">
   
      <div class="row"> 
      		{% for entity in entities %}
          <dl>
            <dd><h2><small>{{entity.nombre}}</small><h2></dd>
            <dd>{{entity.descripcion}}</dd>
            <dd><strong>{{ 'idioma' | trans }}:</strong> {{entity.idioma}}</dd>
            <dd>{% if entity.path %}<a href="{{ path('recurso_download' ,{ 'filename':entity.path, }) }}">{{ 'descarga' | trans }}</a>{% endif %}</dd>
          </dl><br>
      			
      			
    		{% endfor%}
              

        
      </div>
  </section>
{% endblock %}
