{% extends '::frontend.html.twig' %}

{% block contenido %}
<div class="row">
  <div class="large-12 columns">
    <h1>{{ 'proyectos' | trans }}</h1>

    
        {% for entity in entities %}
          	<h2><small> {{ entity.nombre }}</small></h2>
          	<ul class="no-bullet">
  				<li>{{ 'duracion' | trans }}: {{ entity.fechaInicio|date('d-m-Y') }} - {% if entity.fechaFinal %} {{ entity.fechaFinal|date('d-m-Y') }}{% endif %}</li>
  				<li>{{ 'estado' | trans }}: {% if entity.status==1 %}
                         Activo
                      {% else %}
                         Inactivo
                      {% endif %} </li>
          <li>{{ 'miembros' | trans }}:</li>
          <li>
          <ul>
          {% for mim in mims %}
            {% if mim.idproyecto==entity.id %}
              <li>{{ mim.nombreMiembro }} {{ mim.apellidoP }} {{ mim.apellidoM }}</li>
            {% endif %}
          {% endfor %}
          </ul>
          </li>

  			</ul>	
          	
            
            
        {% endfor %}
        

        
  </div>
</div>
{% endblock %}
