{% extends '::backend.html.twig' %}

{% block contenido %}
<!--miembrosproyecto backend Proyecto-->


            <!-- block -->
            <div class="block">
                <div class="navbar navbar-inner block-header">
                    <div class="muted pull-left">Proyectos</div>
                </div>
                <div class="block-content collapse in">
                    <div class="span12">
                        <div class="table-toolbar">
                          <div class="btn-group">
                             <a href="{{path('proyecto_miembro_new', { 'id': entity.id })}}"> <!-- data-toggle="modal" data-target=".bs-example-modal-lg" --><button class="btn btn-success">Add New Member <i class="icon-plus icon-white"></i></button></a>
                          </div>
                        </div>
                        <table class="table" id="example">
                          <thead>
                            <tr>
                              <th>Proyecto</th>
                            </tr>
                          </thead>
                          <tbody> 
                            <tr>
                              <td>{{ entity.nombre }}</td>
                            </tr>
                          </tbody>
                        </table>
                        <table class="table" id="example">
                          <thead>
                            <tr>
                              <th>Miembro</th>
                            </tr>
                          </thead>
                          <tbody> 
                            
                              {% for mim in members %}
                                <tr>
                                  <td>{{ mim.nombreMiembro }} {{ mim.apellidoP }} {{ mim.apellidoM }}</td>
                                  <td><a href="{{path('proyecto_miembro_delete', { 'idp': mim.idproyecto , 'idm': mim.id })}}">Delete</a></td>
                                </tr>

                              {% endfor %}
                            
                          </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
            <!-- /block -->

             <!-- Modal -->
              <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" >
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">Miembros</h4>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <a href="{{ path('proyecto_backend') }}"  class="btn btn-default">Close</a>
                     
                    </div>
                    
                  </div>
                </div>
              </div>
        </div>
{% endblock %}
