<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}CAII{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('caii.ico') }}" />
        <link href="{{ asset('bundles/backend/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bundles/backend/bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bundles/backend/bootstrap/css/bootstrap.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bundles/backend/bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bundles/backend/vendors/easypiechart/jquery.easy-pie-chart.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bundles/backend/assets/styles.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bundles/backend/assets/DT_bootstrap.css') }}" rel="stylesheet" media="screen">
               
 </head>
<body>

{% block javascripts %}
{% javascripts 
               '@BackendBundle/Resources/public/vendors/modernizr-2.6.2-respond-1.1.0.min.js'
               '@BackendBundle/Resources/public/bootstrap/js/bootstrap.js'
               '@BackendBundle/Resources/public/bootstrap/js/bootstrap.min.js'
               '@BackendBundle/Resources/public/assets/scripts.js'
               '@BackendBundle/Resources/public/assets/DT_bootstrap.js'
               '@BackendBundle/Resources/public/assets/jquery-ui-1.10.4.custom.js'
               '@BackendBundle/Resources/public/assets/jquery-1.10.2.js'
               '@BackendBundle/Resources/public/vendors/datatables/js/jquery.dataTables.min.js'
          %}
<script src="{{ asset_url }}" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


{% endjavascripts %}
<script>
     $(document).foundation();
</script>
{% block funcionesjs %}{% endblock %}


{% endblock %}


              <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">Admin Panel</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i> {{ app.user.username }} <i class="caret"></i>

                                </a>
                                <ul class="dropdown-menu">
                                    
                                    <li class="divider"></li>
                                    <li>
                                        <a tabindex="-1" href="login.html">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <!--<ul class="nav">
                            <li class="active">
                                <a href="#">Dashboard</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Settings <b class="caret"></b>

                                </a>
                                <ul class="dropdown-menu" id="menu1">
                                    <li>
                                        <a href="#">Tools <i class="icon-arrow-right"></i>

                                        </a>
                                        <ul class="dropdown-menu sub-menu">
                                            <li>
                                                <a href="#">Reports</a>
                                            </li>
                                            <li>
                                                <a href="#">Logs</a>
                                            </li>
                                            <li>
                                                <a href="#">Errors</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">SEO Settings</a>
                                    </li>
                                    <li>
                                        <a href="#">Other Link</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">Other Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Other Link</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Content <i class="caret"></i>

                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a tabindex="-1" href="#">Blog</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="#">News</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="#">Custom Pages</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="#">Calendar</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a tabindex="-1" href="#">FAQ</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Users <i class="caret"></i>

                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a tabindex="-1" href="#">User List</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="#">Search</a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" href="#">Permissions</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>-->
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3" id="sidebar">
                    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
                        <li class="active">
                            <a href="{{path('backend')}}"><i class="icon-chevron-right"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="{{path('miembro_backend')}}"><i class="icon-chevron-right"></i> Miembro</a>
                        </li>
                        <li>
                            <a href="{{path('Publicacion_backend')}}"><i class="icon-chevron-right"></i> Publicacion</a>
                        </li>
                        <li>
                            <a href="{{path('proyecto_backend')}}"><i class="icon-chevron-right"></i> Proyecto</a>
                        </li>
                       
                    </ul>
                </div>
                
                <!--/span-->
                <div class="span9" id="content">
                       {% block contenido %}{% endblock %}
                </div>
            </div>
            <hr>
            <footer>
                <p>&copy; Admin</p>
            </footer>
        </div>
        <!--/.fluid-container-->
    
      
  </body>
</html>



