{% extends '::backend.html.twig' %}

{% block contenido -%}
    <div class="row-fluid">
            <div class="navbar">
                <div class="navbar-inner">
                    <ul class="breadcrumb">
                        <i class="icon-chevron-left hide-sidebar"><a href='#' title="Hide Sidebar" rel='tooltip'>&nbsp;</a></i>
                        <i class="icon-chevron-right show-sidebar" style="display:none;"><a href='#' title="Show Sidebar" rel='tooltip'>&nbsp;</a></i>
                        <li>
                            <a href="{{path('backend')}}">Dashboard</a> <span class="divider">/</span>  
                        </li>
                        <li>
                            <a href="{{path('Publicacion_backend')}}">Publicaciones</a> <span class="divider">/</span>  
                        </li>
                        <li class="active">Editar</li>
                    </ul>
                </div>
            </div>
            <!-- block -->
            
			    
               <fieldset>
                    <legend><h1>Editar publicación -  Libro</h1></legend>
                    {{ form_start(form, { 'action': path('Publicacion_edit', { 'tipo': 'Libro'  ,'id': entity.id }), 'method': 'PUT' }) }}
                        {{ form_label(form.tituloLibro, 'Titulo del Libro') }}
                        {{ form_widget(form.tituloLibro) }}<br>
                        {{ form_label(form.paginas, 'Páginas') }}
                        {{ form_widget(form.paginas) }}<br>
                        {{ form_label(form.fecha, 'Fecha') }}
                        {{ form_errors(form.fecha) }}
                        {{ form_widget(form.fecha) }}<br>
                        {{ form_label(form.doi, 'DOI') }}
                        {{ form_widget(form.doi) }}<br>
                        {{ form_label(form.isbn, 'ISBN') }}
                        {{ form_widget(form.isbn) }}<br>
                        {{ form_label(form.editorial, 'Editorial') }}
                        {{ form_widget(form.editorial) }}<br>
                        {{ form_label(form.edicion, 'Edicion') }}
                        {{ form_widget(form.edicion) }}<br>
                        {{ form_label(form.serie, 'Serie') }}
                        {{ form_widget(form.serie) }}<br>
                        {{ form_label(form.volumen, 'Volumen') }}
                        {{ form_widget(form.volumen) }}<br>
                        {{ form_label(form.TipoPublicacion, 'Tipo de publicacion') }}
                        {{ form_widget(form.TipoPublicacion) }}<br>
                        
                        <br>
                        <input type="submit" value="Save" >
                         <br>
                    {{ form_end(form) }}
                </fieldset>
			
		</div>	
    

{% endblock %}

