{% extends '::backend.html.twig' %}

{% block contenido %}
        <div class="row-fluid">
            <div class="navbar">
                <div class="navbar-inner">
                    <ul class="breadcrumb">
                        <i class="icon-chevron-left hide-sidebar"><a href='#' title="Hide Sidebar" rel='tooltip'>&nbsp;</a></i>
                        <i class="icon-chevron-right show-sidebar" style="display:none;"><a href='#' title="Show Sidebar" rel='tooltip'>&nbsp;</a></i>
                        <li>
                            <a href="{{path('backend')}}">Dashboard</a> <span class="divider">/</span>  
                        </li>
                        <li class="active">Publicaciones</li>
                    </ul>
                </div>
            </div>
            <!-- block -->
            <div class="block">
                <div class="navbar navbar-inner block-header">
                    <div class="muted pull-left">Publicaciones</div>
                </div>
                <div class="block-content collapse in">
                    <div class="span12">
                        <div class="table-toolbar">
                          <div class="btn-group">
                             <a href="{{path('Tipos')}}"><button class="btn btn-success">Add New <i class="icon-plus icon-white"></i></button></a>
                          </div>
                        </div>
                        <div class="mygrid-wrapper-div">
                            <table class="table" >
                                <thead>
                        
                                    <tr>
                                        <th></th>
                                        <th>Titulo</th>
                                        <th>Fecha de Publicación</th>
                                        <th>Tipo de publicación</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                {% for entity in entities %}
                                    <tr>
                                        <td><a href="{{ path('Publicacion_show', { 'id': entity.id }) }}">Ver detalles</a></td>
                                        <td>{{ entity.titulo }}</td>
                                        <td nowrap>{% if entity.fecha %}{{ entity.fecha|date('d-m-Y') }}{% endif %}</td>
                                        <td>{{ entity.TipoPublicacion }}</td>
                                        <td><a href="{{ path('Publicacion_miembros', { 'id': entity.id }) }}" class="btn btn-primary btn-lg" >Miembros</a></td>
                                        <td>
                                        <ul>
                                            <li>
                                                <a href="{{ path('Publicacion_delete', { 'id': entity.id }) }}">Delete</a>
                                            </li>
                                            <li>
                                              <a href="{{ path('Publicacion_edit', { 'id':entity.id,'tipo': entity.TipoPublicacion }) }}">Edit</a>
                                            </li>
                                        </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        
                        </div>
                        <div class="col-md-12 text-center">
                          <ul class="pagination pagination-lg pager" id="myPager"></ul>
                        </div>
                    </div>
                </div>
             </div>

             <!-- Modal -->
          <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                  </div>
                  <div class="modal-body">
                    <h1>Tipo de Publicaciones</h1>
                    <ul class="list-group">
                      <li class="list-group-item"><a href="{{ path('Publicacion_new', { 'tipo': 'Libro' }) }}">Libro</a></li>
                      <li class="list-group-item"><a href="{{ path('Publicacion_new', { 'tipo': 'Capitulo' }) }}">Cápitulo de libro</a></li>
                      <li class="list-group-item"><a href="{{ path('Publicacion_new', { 'tipo': 'Revista' }) }}">Revistas</a></li>
                      <li class="list-group-item"><a href="{{ path('Publicacion_new', { 'tipo': 'Internacional' }) }}">Artículos en congreso internacionales</a></li>
                      <li class="list-group-item"><a href="{{ path('Publicacion_new', { 'tipo': 'Nacional' }) }}">Artículos en congreso nacionales</a></li>
                      <li class="list-group-item"><a href="{{ path('Publicacion_new', { 'tipo': 'Reporte' }) }}">Reportes técnicos</a></li>
                      <li class="list-group-item"><a href="{{ path('Publicacion_new', { 'tipo': 'Tesis' }) }}">Tesis</a></li>
                    </ul>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
          </div>


        </div>
{% endblock %}
