{% extends '::frontend.html.twig' %}

{% block contenido %}
<div class="row">
    <div class="large-12 columns">
       <!-- <h1>Publicaciones</h1>-->

        {% for tipo in tipos %}
            <h3>{{ tipo.nombre }}</h3>
            <ul class="no-bullet">
                {% for entity in entities %}
                    <li>
                        <cite>                  
                        {% if entity.TipoPublicacion==tipo.nombre %}
                            {% for miembro in miembros %}
                                {% if miembro.idpublicacion==entity.id %}
                                   {{ miembro.nombreMiembro|first}}. {{ miembro.apellidoP}}, 
                                {% endif %}
                            {% endfor%}
                            {% if entity.titulo %}"{{ entity.titulo }}" {% endif %}
                            {% if entity.tituloLibro %}, {{ entity.tituloLibro }}</cite>{% endif %}
                            {% if entity.capitulo %}, {{ entity.capitulo }}{% endif %}
                            {% if entity.journal %}, {{ entity.journal }}{% endif %}
                            {% if entity.volumen %}, vol. {{ entity.volumen }}{% endif %}
                            {% if entity.congreso %}, {{ entity.congreso }}{% endif %}
                            {% if entity.ciudad %}, {{ entity.ciudad }}{% endif %}
                            {% if entity.editorial %}, Editorial {{ entity.editorial }}{% endif %}
                            {% if entity.serie %}No. {{ entity.serie }}{% endif %}
                            {% if entity.edicion %}, Edicion. {{ entity.edicion }}{% endif %}
                            {% if entity.tipoReporte %}, {{ entity.tipoReporte }}{% endif %}
                            {% if entity.fecha %}, {{ entity.fecha|date('F Y') }}{% endif %}
                            {% if entity.paginas %}, pp. {{ entity.paginas }}{% endif %}
                            {% if entity.issn %}, ISSN {{ entity.issn }}{% endif %}
                            {% if entity.isbn %}, ISBN{{ entity.isbn }}{% endif %}
                            {% if entity.doi %}, {{ entity.doi }}{% endif %}
                            {% if entity.enlace %}, {{ entity.enlace }} {% endif %}
                            {% if entity.mostrar %}, {{ entity.mostrar }} {% endif %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>    
        {% endfor %}        
    
    </div>
</div>



{% endblock %}
