{% extends '::frontend.html.twig' %}

{% block contenido %}
<!-- ######################## Header ######################## -->
        
        <header>
              <h1 class="welcome_text">{{ "publicaciones" | trans }}</h1>    
        </header>

<!-- ######################## Section ######################## -->

   <section class="section_normal">
   
      <div class="row"> 

        {% for  publicacion in publicaciones %}
            {% for tipo in tipos%}
                {% if publicacion.id==tipo.id %}
                    <h3>{{ publicacion.nombre }}</h3>
                {% endif %}
            {% endfor %}        
            <ul >
                {% for entity in entities %}
                    {% for publicacionid in publicacionesid %}    
                        {% if entity.id==publicacionid.id %}
                                {% if publicacion.nombre==publicacionid.TipoPublicacion %}

                                    <li>
                                        <cite>                  
                                    
                                        {% for miembro in miembros %}
                                            {% if miembro.idpublicacion==entity.id %}
                                               {{ miembro.nombreMiembro|first}}. {{ miembro.apellidoP}}, 
                                            {% endif %}
                                        {% endfor%}
                                        {% if entity.path %}
                                            <a href="{{ path('Publicacion_download' ,{ 'filename':entity.path, }) }}">{% if entity.titulo %}"{{ entity.titulo }}"{% endif %}</a>

                                        {% else%}  
                                            {% if entity.titulo %}"{{ entity.titulo }}"{% endif %}
                                        {% endif %}
                                        {% if entity.tituloLibro %}, {{ entity.tituloLibro }}{% endif %}</cite>
                                        {% if entity.capitulo %}, {{ entity.capitulo }}{% endif %}
                                        {% if entity.journal %}, {{ entity.journal }}{% endif %}
                                        {% if entity.volumen %}, vol. {{ entity.volumen }}{% endif %}
                                        {% if entity.congreso %}, In proceedings of {{ entity.congreso }}{% endif %}
                                        {% if entity.ciudad %}, {{ entity.ciudad }}{% endif %}
                                        {% if entity.editorial %}, Editorial {{ entity.editorial }}{% endif %}
                                        {% if entity.serie %}No. {{ entity.serie }}{% endif %}
                                        {% if entity.edicion %}, Edición. {{ entity.edicion }}{% endif %}
                                        {% if entity.tipoReporte %}, {{ entity.tipoReporte }}{% endif %}
                                        {% if entity.fecha %}, {{ entity.fecha|date('F Y', "America/Tijuana") }}{% endif %}
                                        {% if entity.paginas %}, pp. {{ entity.paginas }}{% endif %}
                                        {% if entity.issn %}, ISSN {{ entity.issn }}{% endif %}
                                        {% if entity.isbn %}, ISBN {{ entity.isbn }}{% endif %}
                                        {% if entity.doi %}, DOI: <a href="http://dx.doi.org/{{ entity.doi }}">{{ entity.doi }}</a> {% endif %}
                                        {% if entity.tipoTesis %}, {{ entity.tipoTesis }}{% endif %}
                                        <!--   {% if entity.mostrar %}, {{ entity.mostrar }} {% endif %} -->
                                    
                                    </li>
                                {% endif %}   
                        {% endif %}        
                    {% endfor %}
                {% endfor %}
            </ul>    
        {% endfor %}        
    
    </div>
</section>



{% endblock %}
