{% extends '::backend.html.twig' %}

{% block contenido -%}
    <div class="row-fluid">
            <div class="navbar">
                <div class="navbar-inner">
                    <ul class="breadcrumb">
                        <i class="icon-chevron-left hide-sidebar"><a href='#' title="Hide Sidebar" rel='tooltip'>&nbsp;</a></i>
                        <i class="icon-chevron-right show-sidebar" style="display:none;"><a href='#' title="Show Sidebar" rel='tooltip'>&nbsp;</a></i>
                        <li>
                            <a href="{{path('backend')}}">Dashboard</a> <span class="divider">/</span>  
                        </li>
                        <li>
                            <a href="{{path('Publicacion_backend')}}">Publicaciones</a> <span class="divider">/</span>  
                        </li>
                        <li class="active">Ver publicación</li>
                    </ul>
                </div>
            </div>

            <fieldset>
                <legend><h1>Ver publicación </h1></legend>

                <table class="record_properties" style=" text-align: left;padding: 150px;">
                    <tbody>
                        {% if entity.id %}
                        <tr>
                            <th>Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        {% endif %}
                        {% if entity.tituloLibro %}
                        <tr>
                            <th>Título del libro</th>
                            <td>{{ entity.titulo }}</td>
                        </tr>
                        {% endif %}
                        {% if entity.titulo %}
                        <tr>
                            <th>Título</th>
                            <td>{{ entity.titulo }}</td>
                        </tr>
                        {% endif %}
                        {% if entity.tipoTesis %}
                        <tr>
                            <th>Tipo de tesis</th>
                            <td>{{ entity.titulo }}</td>
                        </tr>
                        {% endif %}
                        {% if entity.doi %}
                        <tr>
                            <th>DOI</th>
                            <td>{{ entity.doi }}</td>
                        </tr>
                        {% endif %}
                        {% if entity.paginas %}
                        <tr>
                            <th>Páginas</th>
                            <td>{{ entity.paginas }}</td>
                        </tr>
                        {% endif %}
                        
                        {% if entity.fecha %}
                        <tr>
                            <th>Fecha</th>
                            <td>{{ entity.fecha|date('d-m-Y') }}</td>
                        </tr>
                        {% endif %}
                        {% if entity.enlace %}
                        <tr>
                            <th>Enlace</th>
                            <td>{{ entity.enlace }}</td>
                        </tr>
                        {% endif %}
                        {% if entity.tipoReporte %}
                        <tr>
                            <th>Tipo reporte</th>
                            <td>{{ entity.tipoReporte }}</td>
                        </tr>
                        {% endif %}
                        {% if entity.ciudad %}
                        <tr>
                            <th>Ciudad</th>
                            <td>{{ entity.ciudad }}</td>
                        </tr>
                        {% endif %}
                        {% if entity.congreso %}
                        <tr>
                            <th>Congreso</th>
                            <td>{{ entity.congreso }}</td>
                        </tr>
                        {% endif %}
                        {% if entity.issn %}
                        <tr>
                            <th>ISSN</th>
                            <td>{{ entity.issn }}</td>
                        </tr>
                        {% endif %}
                        {% if entity.capitulo %}
                        <tr>
                            <th>Capítulo</th>
                            <td>{{ entity.capitulo }}</td>
                        </tr>
                        {% endif %}
                        {% if entity.isbn %}
                        <tr>
                            <th>ISBN</th>
                            <td>{{ entity.isbn }}</td>
                        </tr>
                        {% endif %}
                        {% if entity.mostrar %}
                        <tr>
                            <th>Mostrar</th>
                            <td>{{ entity.mostrar }}</td>
                        </tr>
                        {% endif %}
                        {% if entity.journal %}
                        <tr>
                            <th>Journal</th>
                            <td>{{ entity.journal }}</td>
                        </tr>
                        {% endif %}
                        {% if entity.volumen %}
                        <tr>
                            <th>Volumen</th>
                            <td>{{ entity.volumen }}</td>
                        </tr>
                        {% endif %}
                        {% if entity.editorial %}
                        <tr>
                            <th>Editorial</th>
                            <td>{{ entity.editorial }}</td>
                        </tr>
                        {% endif %}
                        {% if entity.serie %}
                        <tr>
                            <th>Serie</th>
                            <td>{{ entity.serie }}</td>
                        </tr>
                        {% endif %}
                        {% if entity.edicion %}
                        <tr>
                            <th>Edición</th>
                            <td>{{ entity.edicion }}</td>
                        </tr>

                        {% endif %}
                        {% if entity.path %}
                        <tr>
                            <th>Archivo en servidor</th>
                            <td><a href="{{ path('Publicacion_download', { 'filename':entity.path, }) }}">Ver >></a></td>
                        </tr>

                        {% endif %}
                    </tbody>
                </table>
                <fieldset>
    </div>  
    
        
{% endblock %}
