{% extends '::backend.html.twig' %}

{% block contenido %}
        <div class="row-fluid">
            <div class="navbar">
                <div class="navbar-inner">
                    <ul class="breadcrumb">
                        <i class="icon-chevron-left hide-sidebar"><a href='#' title="Hide Sidebar" rel='tooltip'>&nbsp;</a></i>
                        <i class="icon-chevron-right show-sidebar" style="display:none;"><a href='#' title="Show Sidebar" rel='tooltip'>&nbsp;</a></i>
                        <li>
                            <a href="{{path('backend')}}">Dashboard</a> <span class="divider">/</span>  
                        </li>
                        <li class="active">Publicaciones</li>
                    </ul>
                </div>
            </div>
            <!-- block -->
            <div class="block">
                <div class="navbar navbar-inner block-header">
                    <div class="muted pull-left">Publicaciones</div>
                </div>
                <div class="block-content collapse in">
                    <div class="span12">
                        
                                   



                            <h1>Tipo de Publicaciones</h1>
                            <ul class="list-group">
                              <li class="list-group-item"><a href="{{ path('Publicacion_new', { 'tipo': 'Libro' }) }}">Libro</a></li>
                              <li class="list-group-item"><a href="{{ path('Publicacion_new', { 'tipo': 'Capitulo' }) }}">Cápitulo de libro</a></li>
                              <li class="list-group-item"><a href="{{ path('Publicacion_new', { 'tipo': 'Revista' }) }}">Revistas</a></li>
                              <li class="list-group-item"><a href="{{ path('Publicacion_new', { 'tipo': 'Internacional' }) }}">Artículos en congreso internacionales</a></li>
                              <li class="list-group-item"><a href="{{ path('Publicacion_new', { 'tipo': 'Nacional' }) }}">Artículos en congreso nacionales</a></li>
                              <li class="list-group-item"><a href="{{ path('Publicacion_new', { 'tipo': 'Reporte' }) }}">Reportes técnicos</a></li>
                              <li class="list-group-item"><a href="{{ path('Publicacion_new', { 'tipo': 'Tesis' }) }}">Tesis</a></li>
                            </ul>
                  

                </div>
             </div>

             <!-- Modal -->
          

        </div>
{% endblock %}
