{% extends '::frontend.html.twig' %}

{% block contenido %}
  <section  class="section_light">
   <div class="row"><br>
      <div class="orbit-container">
      
        <ul class="example-orbit" data-orbit >
          <li>
            <img src="{{ asset('bundles/portada/img/slide/IMG_7.jpg') }}" />
           <!-- <div class="orbit-caption">
              Caption One.
            </div>-->
          </li>
          <li>
            <img src="{{ asset('bundles/portada/img/slide/IMG_4.jpg') }}" />
            <!-- <div class="orbit-caption">
              Caption Two.
            </div> -->
          </li>
          <li>
            <img src="{{ asset('bundles/portada/img/slide/IMG_3.jpg') }}" />
            <!-- <div class="orbit-caption">
              Caption Three.
            </div> -->
          </li>
          <li>
            <img src="{{ asset('bundles/portada/img/slide/IMG_6.jpg') }}" />
            <!-- <div class="orbit-caption">
              Caption Three.
            </div> -->
          </li>
          <li>
            <img src="{{ asset('bundles/portada/img/slide/IMG_5.jpg') }}" />
            <!-- <div class="orbit-caption">
              Caption Three.
            </div> -->
          </li>
        </ul>

      </div>
    </div>
   </section>
<!-- Three-up Content Blocks -->
 
 <section class="section_main">
   
        <div class="row">
        
            <div class="four columns">
      
                <h4>This is a content section.</h4>
                <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
            </div>
    
           

   
    
  
        </div>
    

  </section>	

{% endblock %}
