{% extends '::backend.html.twig' %}

{% block contenido -%}
		<div class="row-fluid">
            <div class="navbar">
                <div class="navbar-inner">
                    <ul class="breadcrumb">
                        <i class="icon-chevron-left hide-sidebar"><a href='#' title="Hide Sidebar" rel='tooltip'>&nbsp;</a></i>
                        <i class="icon-chevron-right show-sidebar" style="display:none;"><a href='#' title="Show Sidebar" rel='tooltip'>&nbsp;</a></i>
                        <li>
                            <a href="{{path('backend')}}">Dashboard</a> <span class="divider">/</span>  
                        </li>
                        <li>
                            <a href="{{path('noticia_backend')}}">Noticias</a> <span class="divider">/</span>  
                        </li>
                        <li class="active">Editar</li>
                    </ul>
                </div>
            </div>
            <!-- block -->
            
			   
			   <fieldset>
                    <legend><h1>Editar Noticia</h1></legend>
                    {{ form_start(form, { 'action': path('noticia_edit', { 'id': entity.id }), 'method': 'PUT' }) }} 
                    	{{ form_label(form.titulo, 'Título') }}
                        {{ form_widget(form.titulo) }}
                        {{ form_label(form.descripcion, 'Descripción') }}
                        {{ form_widget(form.descripcion) }}
                        {{ form_label(form.contenido, 'Contenido') }}
                        {{ form_widget(form.contenido) }}
                        {{ form_label(form.foto, 'Foto') }}
                        {% if entity.fotoURL %} 
                              <img src="{{ asset('uploads/images/noticias/' ~ entity.fotoURL) }}" alt="" alt="" height="60" width="60" />
                          {% endif %} <br>
                        {{ form_widget(form.foto) }}
                        {{ form_errors(form.foto) }}
                        {{ form_label(form.fecha, 'Fecha de la noticia') }}
                        {{ form_widget(form.fecha) }}
                        <br>
                        <input type="submit" value="Save" >
                         <br>
                    {{ form_end(form) }}
                </fieldset>
			
		</div>	
    

{% endblock %}
