{% extends '::frontend.html.twig' %}

{% block contenido %}
<!-- ######################## Header ######################## -->
        
        <header>
              <h1 class="welcome_text">{{ 'noticias' | trans }}</h1>    
        </header>



<!-- ######################## Section ######################## -->

   <section class="section_normal">
   
      <div class="row" id="myTable"> 
      
         

        {% for entity in entities %}
        
            
            <h3><a href="#" data-reveal-id="{{ entity.id }}">{{ entity.titulo }}</a></h3>
            <h6>{% if entity.fecha %}{{ entity.fecha|localizeddate('long', 'none') }}{% endif %}</h6>
            <div class="row">
                <div class="three columns">
                    <a href="#" data-reveal-id="{{ entity.id }}"><img src="{{ asset('uploads/images/noticias/' ~ entity.fotoURL) }}" alt="" alt="" height="100%" width="100%" /></a>
                </div>
               <div class="nine columns">
                <p>{{ entity.descripcion }}</p>
                <p><a href="#" data-reveal-id="{{ entity.id }}">Ver más>></a></p>
                </div>
            </div>
            <div id="{{ entity.id }}" class="reveal-modal" data-reveal>
              <article>
                <div class="row">
                    <h3>{{ entity.titulo }}</h3>
                    <h6>{% if entity.fecha %}{{ entity.fecha|localizeddate('long', 'short') }}{% endif %}</h6>
                </div>
                <div class="row">
                 
                  
                    <img src="{{ asset('uploads/images/noticias/' ~ entity.fotoURL) }}" alt="" alt="" height="30%" width="30%" align="left" style="padding:15px;"/>
                  
                
                    <p align="justify">{{ entity.contenido }}</p>
                </div>
              </article>
              <a class="close-reveal-modal">&#215;</a>
            </div>   


          
        <br>
       
             
        {% endfor %}
       

      
          </div>
          <div class="row">
                  <div class="pagination-centered">
                          <ul class="pagination" id="myPager" ></ul>
                  </div>
            </div>
          </div>
        
        </section>
    {% endblock %}
