{% extends '::backend.html.twig' %}

{% block contenido -%}
        <div class="row-fluid">
            <div class="navbar">
                <div class="navbar-inner">
                    <ul class="breadcrumb">
                        <i class="icon-chevron-left hide-sidebar"><a href='#' title="Hide Sidebar" rel='tooltip'>&nbsp;</a></i>
                        <i class="icon-chevron-right show-sidebar" style="display:none;"><a href='#' title="Show Sidebar" rel='tooltip'>&nbsp;</a></i>
                        <li>
                            <a href="{{path('backend')}}">Dashboard</a> <span class="divider">/</span>  
                        </li>
                        <li>
                            <a href="{{path('noticia_backend')}}">Noticias</a> <span class="divider">/</span>  
                        </li>
                        <li class="active">Ver noticia</li>
                    </ul>
                </div>
            </div>
            <!-- block -->
            <div class="block">
                <div class="navbar navbar-inner block-header">
                    <div class="muted pull-left">Noticias</div>
                </div>
                <div class="block-content collapse in">
                    <div class="span12">
                        
                        
                        <h4>Titulo</h4>
                        <p>{{ entity.titulo }}<p><br>
                        <h6>{% if entity.fecha %}{{ entity.fecha|localizeddate('long', 'short') }}{% endif %}</h6>
                    
                 
                        <h4>Contenido</h4>
                        {% if entity.fotoURL %}<img src="{{ asset('uploads/images/noticias/' ~ entity.fotoURL) }}" alt="" alt="" height="30%" width="30%" align="left" style="padding:15px;"/>{% endif %}
                  
                
                        <p align="justify">{{ entity.contenido | raw }}</p>
              
                    </div>    

                </div>

            </div>    


        </div>    

        
{% endblock %}
